# Local .terraform execution directory
.terraform/

# Local Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment files
*.env

# Python virtual environment
venv/

# macOS
.DS_Store

# Scratch / experiments
experiments/

# Local debugging files
state.json
terraform/state.json